$def with (title,topic,desc,img)
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="@vincenth">

  <title>$title</title>
  <style>
    body {
      padding-top: 30px;
      text-align: center;
    }
    body img {
      margin: 20px auto;
    }
  </style>
</head>
<body>
<h2>$topic</h2>
<h1>$desc</h1>
<p>by <a target="_blank" href="https://cn.linkedin.com/in/ttyio">@vincenth</a></p>
<img src="$img"/>
</body>
</html>
